.dart_tool/
.idea/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
coverage/
android_local_maven/
supabase/.temp/

android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

.env
.env.*
!.env.example
